<template>
	<div class="container">

    <!-- Outer Row -->
	    <div class="row justify-content-center">

		    <div class="col-xl-10 col-lg-12 col-md-9">

		        <div class="card o-hidden border-0 shadow-lg my-5">
		          <div class="card-body p-0">
		            <!-- Nested Row within Card Body -->
		            <div class="row">
		              <div class="col-lg-12">
		                <div class="p-5">
		                  <div class="text-center">
		                    <h1 class="h4 text-gray-900 mb-4">Bienvenido a 0800 POTABLE!</h1>
		                  </div>
		                  <form class="user" @submit.prevent="submit">
		                    <div class="form-group">
		                      <input type="text" class="form-control form-control-user" v-bind:class="[errors && errors.usuario ? errors.class : '']" v-model="usuario" id="usuario" name="usuario" aria-describedby="emailHelp" placeholder="Ingrese su usuario">
		                      <div v-if="errors && errors.usuario" class="text-danger">{{ errors.usuario }}</div>
		                    </div>
		                    <div class="form-group mb-4">
		                      <input type="password" class="form-control form-control-user" v-bind:class="[errors && errors.password ? errors.class : '']" v-model="password" id="password" name="password" placeholder="Ingrese su contraseña">
		                      <div v-if="errors && errors.password" class="text-danger">{{ errors.password }}</div>
		                    </div>
		                    <button type="submit" class="btn btn-primary btn-user btn-block">
		                        <i class="fas fa-sign-out-alt mr-2 "></i>
		                        Iniciar
		                    </button>
		                  </form>
		                  <hr>
		                  <div class="text-center">
		                    <a class="small" href="forgot-password.html">¿Olvidades tu contraseña?</a>
		                  </div>
		                  <div class="text-center">
		                    <a class="small" href="register.html">Crear cuenta!</a>
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		    </div>
	    </div>
  	</div>
</template>
<script>
    export default {
    	data(){
    		return {
		      	usuario:'',
				password:'',
		      	errors: {},
		      	success: false,
		      	loaded: true,
		    }
    	},
       	methods:{
	       	submit(){
	       		if (this.loaded) {
	       			this.loaded = false;
	       			this.success = false;
	       			this.errors = {};
	       			axios.post('/Userlogin',{usuario:this.usuario,password:this.password}).then(response =>{
	       				this.fields = {};
	       				this.loaded = true;
	       				if (response.data.success) {
	       					this.$swal(
	       						'Bienvenido Al sistema',
	       						'A ingresado los datos correctamente',
								'success'
							).then((result) => {
								if (result.isConfirmed) {
								    window.location="/dashboard";
								}
							});
	       				}
	       			}).catch(error =>{
	       				this.loaded = true;
	       				if (error.response.status === 422) {
	       					this.errors = error.response.data.errors || {};
	       				}
	       			});
	       		}
	       	}
       	}
    }
</script>