<template>
    <data-table :columns="columns" url="/report/ShowDataList">
    	<tbody>
    		<tr v-for="report in reports" :key="report.id_reporte" track-by="id_reporte">
    			<td>{{ report.cod_reporte }}</td>
    			<td>{{ report.fecha_crea }}</td>
    			<td>{{ report.id_categ }}</td>
    			<td>{{ report.id_sub_categ }}</td>
    			<td>
    				<div class="btn-group">
    					<button class="btn" type="button">
    						<i></i>
    					</button>
    					<button class="btn" type="button">
    						<i></i>
    					</button>
    				</div>
    			</td>
    		</tr>
    	</tbody>
    </data-table>
</template>
<script>
export default {
    data() {
        return {
        	reports:[],
            columns: [
                {
                    label: 'Codigo',
                    name: 'cod_reporte',
                    orderable: true,
                },
                {
                    label: 'Fecha',
                    name: 'fecha_crea',
                    orderable: true,
                },
                {
                    label: 'Categoria',
                    name: 'id_categ',
                    orderable: true,
                },
                {
                    label: 'Sub categoria',
                    name: 'id_sub_categ',
                    orderable: true,
                },
                {
                	label : 'Accion',
                	name: 'accion',
                	orderable: false
                }
            ]
        }
    },
    methods: {
	    displayRow(data) {
	       console.log(data);
	    },
    },
    mounted() {
    	let data = axios.get("/report/ShowDataList")
    	.then(response=>{
    		this.reports = response.data;
    		console.log(response);
    	})
    	.catch(err => {
	      console.log(err);
	    });

        console.log('listo')
    }
}

</script>