<template>
    <form-wizard class="vue-form-wizard">
        <tab-content title="Categoria del reporte" :selected="true">
            <div class="row" id="categorias">
                <div class="col-6 col-xl-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="" class=" form-control-label">
                            Categoria
                            <span class="text-danger">*</span> 
                        </label>
                        <select name="categoria" id="categoria" class="form-control custom-select required" onchange="search_categ(this)" required>
                            <option value="">Seleccione una opcion</option>
                            
                                <option value="<?= $value['id_categ']?>"></option>
                            
                        </select>
                    </div>
                </div>
                <div class="col-6 col-xl-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="" class="form-control-label">
                            Sub-categoria
                            <span class="text-danger">*</span> 
                        </label>
                        <select name="subCateg" id="subCateg" class="form-control custom-select required" required>
                            <option value="">Seleccione una opcion</option>
                        </select>
                    </div>
                </div>
            </div>
        </tab-content>
        <tab-content title="Registro de reporte">
            <div class="row" id="data_reporte">
                    <div class="container">
                        <div class="col-12 col-md-12 col-xl-12 col-sm-12 mt-5 mb-3">
                            <div class="input-group input-group-joined">
                                <input class="form-control" type="text" placeholder="Ingrese el nic o cedula" aria-label="Search" id="nic" name="nic" maxlength="8" minlength="1">
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="button" onclick="search_cliente($('#nic'))">
                                        <i class="fas fa-fw fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-12 col-sm-12 mb-3">
                            <label for="">
                                Ubicación del Reporte:
                            </label>
                            <div class="row">
                                <div class="col-4 col-md-4 col-xl-4 col-sm-4 mb-3 form-group">
                                    <select class="custom-select form-control required" id="id_acueducto" name="id_acueducto" onchange="search_municipio(this,$('#id_municipio'))">
                                      <option>Acueducto:</option>
                                        <?php foreach ($this->data_form['acueducto'] as $key => $value):?>
                                            <option value="<?= $value['id_acueducto']?>"><?= $value['nom_acueducto']?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                                <div class="col-4 col-md-4 col-xl-4 col-sm-4 mb-3 form-group">
                                    <select class="custom-select form-control required" id="id_municipio" name="id_municipio" onchange="search_parroquia(this,$('#id_parroquia'))">
                                  <option>Municipio:</option>
                                </select>
                                </div>
                                <div class="col-4 col-md-4 col-xl-4 col-sm-4 mb-3 form-group">
                                    <select class="custom-select form-control required" id="id_parroquia" name="id_parroquia">
                                  <option>Parroquia:</option>
                                </select>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-12 col-sm-12 mb-3">
                            <div class="row">
                                <div class="col-6 col-md-6 col-xl-6 col-sm-6 mb-3 form-group">
                                    <input type="text" class="form-control required"  placeholder="Urb/Sector:" id="sector" name="sector">
                                </div>
                                <div class="col-6 col-md-6 col-xl-6 col-sm-6 mb-3 form-group">
                                    <input type="text" class="form-control required"  placeholder="Av/Calle:" id="av" name="av">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-12 col-sm-12 mb-3">
                            <div class="row">
                                <div class="col-6 col-md-6 col-xl-6 col-sm-6 mb-3 form-group" >
                                  <label for="exampleFormControlInput1">Nombre de Inmueble:</label>
                                  <input type="text" class="form-control required" id="nom_inmueble" name="nom_inmueble">
                                </div>

                                <div class="col-6 col-md-6 col-xl-6 col-sm-6 mb-3 form-group" >
                                  <label for="exampleFormControlInput1">Punto de Referencia:</label>
                                  <input type="text" class="form-control required" id="punto_referencia" name="punto_referencia">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-12 col-sm-12 mb-3">
                            <label for="">
                                Datos del Cliente:
                            </label>
                            <div class="row">
                                <div class="col-3 col-md-3 col-xl-3 col-sm-3 mb-3 form-group">
                                    <label for="" class="form-control-label">
                                        Nombre:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control required" id="nombre" name="nombre">
                                </div>
                                <div class="col-3 col-md-3 col-xl-3 col-sm-3 mb-3 form-group">
                                    <label for="" class="form-control-label">
                                        Apellido: 
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control required" id="apellido" name="apellido">
                                </div>
                                <div class="col-3 col-md-3 col-xl-3 col-sm-3 mb-3 form-group">
                                    <label for="" class="form-control-label">
                                        Telefono:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control required" id="telefono" name="telefono">
                                </div>
                                <div class="col-3 col-md-3 col-xl-3 col-sm-3 mb-3 form-group">
                                    <label for="" class="form-control-label">
                                        Correo:
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input type="text" class="form-control required" id="correo" name="correo">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-12 col-sm-12 mb-5">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Observaciones:</label>
                                <textarea class="form-control required" id="observaciones" name="observaciones" rows="5" style="resize:none"></textarea>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </tab-content>
        <tab-content title="Confirmar datos">
            <div class="row mt-3 mb-3">
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <caption><h5>Categoria del reporte</h5></caption>
                                <thead class="text-center">
                                    <tr>
                                        <th>Categoria</th>
                                        <th>Subcategoria</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td><span id="conf_cat"></span></td>
                                        <td><span id="conf_Subcat"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <caption><h5>Datos de ubicacion</h5></caption>
                                <thead class="text-center">
                                    <tr>
                                        <th>Acueducto</th>
                                        <th>Municipio</th>
                                        <th>Parroquia</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td><span id="conf_Acueducto"></span></td>
                                        <td><span id="conf_Municipio"></span></td>
                                        <td><span id="conf_Parroquia"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <thead class="text-center">
                                    <tr>
                                        <th>Sector/urb</th>
                                        <th>Av/calle</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td><span id="conf_Sector"></span></td>
                                        <td><span id="conf_Av"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <thead class="text-center">
                                    <tr>
                                        <th>Nombre de Inmueble</th>
                                        <th>Punto de Referencia</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td><span id="conf_Nombre_Inmueble"></span></td>
                                        <td><span id="conf_Punto_Referencia"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12 text-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <caption><h5>Datos del cliente</h5></caption>
                                <thead class="text-center">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Telefono</th>
                                        <th>Correo</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td><span id="conf_Nombre"></span></td>
                                        <td><span id="conf_Apellido"></span></td>
                                        <td><span id="conf_Telefono"></span></td>
                                        <td><span id="conf_Correo"></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                    <div class="col-12 col-xl-12 col-md-12 col-sm-12 text-center">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <td><h5>Observacion</h5></td>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td><p id="conf_observacion"></p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </tab-content>
    </form-wizard>
</template>
<script>
    export default {
        mounted(){
            console.log('listo');
        },
        data(){
            return {
                errors: {},
                success: false,
                loaded: true,
            }
        },
        methods:{
            onComplete(){

            },
            onLoading(){

            },
            onValidate(){

            },
            onChange(){

            }
        }
    }
</script>